h1 {
    color: burlywood;
    font-family: serif;
    font-size: 60px;
}

img {
    width: 400px;
    object-fit: cover;
    object-position: center; 
}


.first-fav {
    display: flex;
    align-items: top;
}

.katsu {
    margin-right: 10px; /* 画像と説明文の間のスペースを調整 */
}

.katsu img {
    max-width: 100%; /* 画像がコンテナを超えないようにする */
    height: auto; /* 画像のアスペクト比を維持する */
}

.desc {
    flex: 1; /* 残りのスペースを占める */
}